.container-fluid {
    height: 100vh;
    padding-right: 0px;
    padding-left: 0px;

}


.loginScreen{
    background-color: rgb(3, 79, 109);
}

#authButtons:hover{
    border-color: transparent;
    cursor: pointer
}

nav.bg-light{
    background-color: #034f6d;
}

#wantList, #addForm{
    margin-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 0px;
    margin-right: 0px;
}

select, ul{
    margin: 0px, 5px, 0px, 5px;
}

#checkbox{
    margin-left: 5px;
}

#accordion-h{
  background-color:white;

}


.accordion-button:not(.collapsed){
    color: black;
}



/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 15px;
    top: 15px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #f8f9fa;;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgb(255, 255, 255)
  }

  #forhHamburgerMenu {
      height: 4em;
      background-color: #f8f9fa;
  }


  